.cursor-dot {
  width: 5px;
  height: 5px;
  background-color: var(--clr-blue);
}

.cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid var(--clr-blue);
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1000;
  pointer-events: none;
}
